# Pascals triangel

In [59]:
# Pascals triangel

n = int(input("Ange höjden på triangeln: "))

rad =[0, 1, 0]
for i in range(n):
    #print("rad")
    print( f"{' '*2*(n-i)}{rad[1 : -1]}")
 
    rad = [0] + [ x + rad[j+1] for j,x in enumerate(rad[:-1])] + [0]

                                        [1]
                                      [1, 1]
                                    [1, 2, 1]
                                  [1, 3, 3, 1]
                                [1, 4, 6, 4, 1]
                              [1, 5, 10, 10, 5, 1]
                            [1, 6, 15, 20, 15, 6, 1]
                          [1, 7, 21, 35, 35, 21, 7, 1]
                        [1, 8, 28, 56, 70, 56, 28, 8, 1]
                      [1, 9, 36, 84, 126, 126, 84, 36, 9, 1]
                    [1, 10, 45, 120, 210, 252, 210, 120, 45, 10, 1]
                  [1, 11, 55, 165, 330, 462, 462, 330, 165, 55, 11, 1]
                [1, 12, 66, 220, 495, 792, 924, 792, 495, 220, 66, 12, 1]
              [1, 13, 78, 286, 715, 1287, 1716, 1716, 1287, 715, 286, 78, 13, 1]
            [1, 14, 91, 364, 1001, 2002, 3003, 3432, 3003, 2002, 1001, 364, 91, 14, 1]
          [1, 15, 105, 455, 1365, 3003, 5005, 6435, 6435, 5005, 3003, 1365, 455, 105, 15, 1]
        [1, 16, 120, 560, 1820, 4368, 8008, 11440, 12870, 11440, 8008, 4368, 1820, 560, 120, 16, 1]
      [1, 17, 136, 680, 2380, 6188, 12376, 19448, 24310, 24310, 19448, 12376, 6188, 2380, 680, 136, 17, 1]
    [1, 18, 153, 816, 3060, 8568, 18564, 31824, 43758, 48620, 43758, 31824, 18564, 8568, 3060, 816, 153, 18, 1]
  [1, 19, 171, 969, 3876, 11628, 27132, 50388, 75582, 92378, 92378, 75582, 50388, 27132, 11628, 3876, 969, 171, 19, 1]

In [60]:
# Pascals triangel 2.0

n = int(input("Ange höjden på triangeln: "))    # Låt användare ange höjden 
                                                # TODO hantera felaktiga input
rad =[0, 1, 0]      # Översta raden

for i in range(n):  # För varje rad i triangeln
 
    print( "\n", ' '*2*(n-i), end='')       # Skriv ut blanksteg för att få en snygg form på triangeln 
                                            # TODO hitta bättre formel. Bredden ickelinjär ( Ingen riktig triangel )
    
    for j,x in enumerate( rad[1 : -1]):     # Skriv ut varje siffra > 0 i raden
        print(x, end=' '*3)
   
    rad = [0] + [ x + rad[j+1] for j,x in enumerate(rad[:-1])] + [0]    # Skapa nästa rad

                                         1
                                       1   1
                                     1   2   1
                                   1   3   3   1
                                 1   4   6   4   1
                               1   5   10   10   5   1
                             1   6   15   20   15   6   1
                           1   7   21   35   35   21   7   1
                         1   8   28   56   70   56   28   8   1
                       1   9   36   84   126   126   84   36   9   1
                     1   10   45   120   210   252   210   120   45   10   1
                   1   11   55   165   330   462   462   330   165   55   11   1
                 1   12   66   220   495   792   924   792   495   220   66   12   1
               1   13   78   286   715   1287   1716   1716   1287   715   286   78   13   1
             1   14   91   364   1001   2002   3003   3432   3003   2002   1001   364   91   14   1
           1   15   105   455   1365   3003   5005   6435   6435   5005   3003   1365   455   105   15   1
         1   16   120   560   1820   4368   8008   11440   12870   11440   8008   4368   1820   560   120   16   1
       1   17   136   680   2380   6188   12376   19448   24310   24310   19448   12376   6188   2380   680   136   17   1
     1   18   153   816   3060   8568   18564   31824   43758   48620   43758   31824   18564   8568   3060   816   153   18   1
   1   19   171   969   3876   11628   27132   50388   75582   92378   92378   75582   50388   27132   11628   3876   969   171   19   1

In [45]:
n = int(input("Input you n value"))

list3 =[1]
list4 = []

for y in range(n):
    list4 = []
    list4.append(1)
    for x in range(len(list3)-1):
            list4.append(list3[x]+list3[x+1])
    list4.append(1)
    list3=list4
    print(list3)

[1, 1]
[1, 2, 1]
[1, 3, 3, 1]
[1, 4, 6, 4, 1]
[1, 5, 10, 10, 5, 1]
[1, 6, 15, 20, 15, 6, 1]
[1, 7, 21, 35, 35, 21, 7, 1]
[1, 8, 28, 56, 70, 56, 28, 8, 1]
[1, 9, 36, 84, 126, 126, 84, 36, 9, 1]
[1, 10, 45, 120, 210, 252, 210, 120, 45, 10, 1]
[1, 11, 55, 165, 330, 462, 462, 330, 165, 55, 11, 1]
[1, 12, 66, 220, 495, 792, 924, 792, 495, 220, 66, 12, 1]
[1, 13, 78, 286, 715, 1287, 1716, 1716, 1287, 715, 286, 78, 13, 1]
[1, 14, 91, 364, 1001, 2002, 3003, 3432, 3003, 2002, 1001, 364, 91, 14, 1]
[1, 15, 105, 455, 1365, 3003, 5005, 6435, 6435, 5005, 3003, 1365, 455, 105, 15, 1]
[1, 16, 120, 560, 1820, 4368, 8008, 11440, 12870, 11440, 8008, 4368, 1820, 560, 120, 16, 1]
[1, 17, 136, 680, 2380, 6188, 12376, 19448, 24310, 24310, 19448, 12376, 6188, 2380, 680, 136, 17, 1]
[1, 18, 153, 816, 3060, 8568, 18564, 31824, 43758, 48620, 43758, 31824, 18564, 8568, 3060, 816, 153, 18, 1]
[1, 19, 171, 969, 3876, 11628, 27132, 50388, 75582, 92378, 92378, 75582, 50388, 27132, 11628, 3876, 969, 171, 19, 1]
[1, 20, 190, 1140, 4845, 15504, 38760, 77520, 125970, 167960, 184756, 167960, 125970, 77520, 38760, 15504, 4845, 1140, 190, 20, 1]

In [47]:
height = 20  #height of our pyramid

grid=[[1],[1,1]] #creating the 2 first lines of our pyramid in a 2d list

#filling the grid with the right values 
for i in range(2,height):  
    new_line=[1]                                       # first value is always a 1
    for j in range(1,i):
        new_line.append(grid[i-1][j]+grid[i-1][j-1])   #each cell will receive the sum of the 2 cells above it
    new_line.append(1)                                 # last value in a line is always a 1
    grid.append(new_line)                              # adding the new line to the grid
    

for i in range(len(grid)): #going through the 2d list and creating a string for each line then printing it
    char=""
    for x in range(height-i): #adding the spaces before the first number
        char+="  "

    for j in range(i+1):
        char+=str(grid[i][j])+"   " #adding the numbers with a space after them 
    print(char)                     # printing the line of text

                                        1
                                      1   1
                                    1   2   1
                                  1   3   3   1
                                1   4   6   4   1
                              1   5   10   10   5   1
                            1   6   15   20   15   6   1
                          1   7   21   35   35   21   7   1
                        1   8   28   56   70   56   28   8   1
                      1   9   36   84   126   126   84   36   9   1
                    1   10   45   120   210   252   210   120   45   10   1
                  1   11   55   165   330   462   462   330   165   55   11   1
                1   12   66   220   495   792   924   792   495   220   66   12   1
              1   13   78   286   715   1287   1716   1716   1287   715   286   78   13   1
            1   14   91   364   1001   2002   3003   3432   3003   2002   1001   364   91   14   1
          1   15   105   455   1365   3003   5005   6435   6435   5005   3003   1365   455   105   15   1
        1   16   120   560   1820   4368   8008   11440   12870   11440   8008   4368   1820   560   120   16   1
      1   17   136   680   2380   6188   12376   19448   24310   24310   19448   12376   6188   2380   680   136   17   1
    1   18   153   816   3060   8568   18564   31824   43758   48620   43758   31824   18564   8568   3060   816   153   18   1
  1   19   171   969   3876   11628   27132   50388   75582   92378   92378   75582   50388   27132   11628   3876   969   171   19   1